body{
	font-family: 'Inter', sans-serif;
}



/*header */

.header{
	background-color: black;
	border: 1px solid red;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px;
	display: flex;

}


.logo{
	border: 1px solid red;
}


.menu{
	border: 1px solid red;
	width: 100%;
}

.menu li{display: inline-block;}
.menu li a{color: white; padding: 15px; display: block;}

.cta{
	border: 1px solid red;
}









/*pudding degli elementi */

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
		-noz-box-sizing: border-box;
			box-sizing: border-box;
}