<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head> 
	<title>BiBixTE</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap" rel="stylesheet">

</head>

<body>
	
	<div class = "header">
		<div class = "logo"></div>
		<img src="bibixte.png" alt="errore">
		<ul class = "menu">
			<li><a href="/">Home</a></li>
			<li><a href="/prodotti">Prodotti</a></li>
			<li><a href="/crediti">Contact</a></li>
			</ul>
			<br>
			<h3 class = "normal-text" th:text="*{conto}"></h3>
				
		<div class = "ct">
				<li><p class="button" th:text="*{userName}"></p></li>
			</div>
	</div>

<div class = "product">
	<div class = "product-content">

<div class="grid-container"> 

 <div class="grid-item">
	<a class = "product-adress" href = "/prodotti">
	<div class = "product-container" id = "p1">
		<div class = "product-top">
			<div>
				<img src = "pepsi.png" class = "product-img">
			</div>
			<div class = "product-details">
					<p class = "small-text" style = "color: #fff;">Pepsi: 30cl.</p>
					<h4 class = "normal-text">2,5€</h4>
			</div>
		</div>
	</div>
	</a>
</div>

  <div class="grid-item">

	<a class = "product-adress" href = "/prodotti">
			<div class = "product-container" id = "p2">
				<div class = "product-top">
					<img src = "monster.jpg" class = "product-img">
				</div>
				<div class = "product- details">
					<p class = "small-text" style = "color: #fff;">Monster: 50cl.</p>
					<h4 class = "normal-text">5€</h4>
				</div>
			</div>
		</a> 
</div>

  <div class="grid-item">

		<a class = "product-adress" href = "/prodotti">
			<div class = "product-container" id = "p3">
				<div class = "product-top">
					<img src = "sprite.jpg" class = "product-img">
				</div>
				<div class = "product- details">
					<p class = "small-text" style = "color: #fff;">Sprite: 33cl.</p>
					<h4 class = "normal-text">2,5€</h4>
				</div>
			</div>
		</a> 
</div>  

  <div class="grid-item">
	<a class = "product-adress" href = "/prodotti">
			<div class = "product-container" id = "p4">
				<div class = "product-top">
					<img src = "fanta.jpg" class = "product-img">
				</div>
				<div class = "product- details">
					<p class = "small-text" style = "color: #fff;">Fanta: 30cl.</p>
					<h4 class = "normal-text">2€</h4>
				</div>
			</div>
		</a> 
</div>
</div>
<!--		-->
 
  
</div>
</div>
</div>
<footer>
	<div class= "footer-content">
  <p class = "normal-text" style =" color :#fff ;">Discover more about </p>
  <p class = "normal-text" style =" color :#fff ;"> The brands you're buying </p> 
  <br>
  <ul class= "links">
  	<li><a href = "https://pepsimax.it/"> <p class = "normal-text">- Pepsi.</p></a></li>
  	<li><a href = "https://www.monsterenergy.com/it/it/products/monster-energy"><p  class = "normal-text">- Monster.</p></a></li>
  	<li><a href = "https://www.sprite.com/"><p  class = "normal-text">- Sprite.</p></a></li>
  	<li><a href = "https://www.coca-colaitalia.it/brands/fanta"><p  class = "normal-text">- Fanta.</p></a></li>
  </ul>
  <br>
</div>
</footer>

</body>

</html>
