<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Thymeleaf dependency -->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>BiBixTE</title>

			<!-- CSS imports -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="style.css"> 
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap" rel="stylesheet">
	</head>

<body>	
	<div class = "header">
		<div class = "logo"></div>
		<img src="bibixte.png" alt="">

		<ul class = "menu">
			<li><a href="/">Home</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/crediti">Contact</a></li>
		</ul>

	<br>

		<!-- Display user's count-->

		<h3 class = "normal-text" th:text="*{conto}"></h3>

		<!-- Display username -->
		<!-- logout if presed -->

		<div class = "ct">
			<li><a href="/logout" class="button" th:text="*{userName}"></a></li>
		</div>
	</div>

	<div class = "form">
		<div class = "form-content">
			<form method = "post" th:action = "@{/registration-complete}" th:object = " ${cliente}">
				<fieldset>
					<legend class = "mid-text"> Sign In</legend>

					<label for = "username" class = "normal-text">Your Username:</label>
					<input type = "text" name = "username" th:field = "${cliente.userName}" required>

					<label for = "name" class = "normal-text">Your Email: </label>
					<input type = "text" name = "mail" required th:field = "${cliente.email}" >

					<label for = "pass1" class = "normal-text">Your Password: </label>
					<input type = "password" name = "pass1" th:field = "${cliente.password}" required>

					<label for = "pass2" class = "normal-text">Repeat Your Password: </label>
					<input type = "password" name = pass2 required>

					<input type = "submit" name ="invio" value = "Send" class = "intro-text">
				</fieldset>
		</form>
		</div>
	</div>

	<footer>
		<div class= "footer-content">
		  <p class = "normal-text" style =" color :#fff ;">Discover more about </p>
		  <p class = "normal-text" style =" color :#fff ;"> The brands you're buying </p> 
		  <br>
		  <ul class= "links">
		  	<li>
		  		<a href = "https://pepsimax.it/">
		  			<p class = "normal-text">- Pepsi.</p>
		  		</a>
		  	</li>

		  	<li>
		  		<a href = "https://www.monsterenergy.com/it/it/products/monster-energy">
		  			<p  class = "normal-text">- Monster.</p>
		  		</a>
		  	</li>

		  	<li>
		  		<a href = "https://www.sprite.com/">
		  			<p  class = "normal-text">- Sprite.</p>
		  		</a>
		  	</li>
		  	<li>
		  		<a href = "https://www.coca-colaitalia.it/brands/fanta">
		  			<p class = "normal-text">- Fanta.</p>
		  		</a>
		  	</li>
		  </ul>

		  <br>

		</div>
	</footer>
</body>
</html>